@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
	font-family: 'Spoqa Han Sans Neo', "Noto Sans SC", "APPLE SD Gothic NEO", "sans-serif";
    margin: 0;
    padding: 0;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper {
	display:flex;
	flex-direction:column;
	height:100%;
}

.main-padding {
	flex:1;
}

a {
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6, strong, th {
	font-weight: normal;
}

.except-main {
	padding-top : 61px;
    height: 100%;
    background-color: #f7f7f7;
}