ol, ul, ul li {
    list-style: none;
}
article, aside, canvas, details, figcaption, figure, footer, header, nav, menu, nav, section, main, div {
    display: block;
}
a {
	display: inline-block;
	color: #9b9b9b;
    font-size: 0.8rem;
    margin-top: 12px;
    cursor: pointer;
}
body{
	position:relative;
	min-width:320px;
	margin:0 auto;
	font-size:100%;
	line-height:100%;
	text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	word-break:keep-all
}
/*.pg-restaurant article.contents {
    position: relative;
}*/
.contents {
    padding-top: 30px;
    position: relative;
}

.contents .column-wrapper {
    display: flex;
    border-top: 6px solid #fff;
    word-wrap: break-word;
    font-size: 100%;
    line-height: 100%;
    -webkit-text-size-adjust: 100%;
    word-break: keep-all;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    border: 0 none;
}

/*콘텐츠 영역*/
.contents .column-contents {
    width: calc(100% - 400px);
    background-color: #fff;
    flex: 1;
    float: left;
    padding: 0 20px;
}
.contents .column-contents {
    height: 100%;
}

.contents .column-contents>.inner {
    box-sizing: border-box;
}

.contents .column-contents>.inner>section {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.contents .restaurant-detail {
    border-bottom: 1px solid #e9e9e9;
}

.contents .restaurant-detail>header {
    border-bottom: 1px solid #e9e9e9;
    position: relative;
    padding-bottom: 10px;
}
.restaurant_title {
	display: flex;
}
.restaurant-detail>header .title {
    font-size: 1.8rem;
    line-height: 46px;
    display: block;
    box-sizing: border-box;
    position: relative;
}

.contents .restaurant-detail>header .title .restaurant_name {
    display: inline-block;
    max-width: 100%;
    word-break: break-all;
}

.contents .restaurant-detail>header .title>.rate-point {
    color: #ff792a;
    margin-left: 5px;
}

.contents .restaurant-detail>header .restaurant_button {
    margin-left: auto;
    display: flex;
	padding-top: 10px;
}

.button_link {
	margin: 0 19px 0 0;
    width: 32px;
    height: 61px;
}

.like {
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.button_img {
	display: block;
    width: 32px;
    height: 32px;
    margin-bottom: 0;
}

.button_txt {
    color: #9b9b9b;
    font-size: 0.8rem;
    margin-top: 12px;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
}

.statusCnt {
    font-size: 0.8rem;
    color: #9b9b9b;
}

.update_date {
    padding: 4px 0 20px 0;
    padding: 20px 10px 19px 10px;
    font-size: 12px;
    text-align: right;
    color: rgba(79,79,79,0.6);
}

.contents .column-contents>.inner>section {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.contents .column-contents>.inner>section {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.RestaurantReviewList {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
}

.RestaurantReviewList__Header {
    display: -webkit-flex;
    margin-bottom: 14px;
}
.RestaurantReviewList__Title {
    font-size: 18px;
    line-height: 1.2;
    color: #4F4F4F;
}
.RestaurantReviewList__AllCount {
    color: #7F7F7F;
}

/*별점 관련*/
.WritingPage_Form fieldset {
	display: inline-block; /* 행 전체를 차지하지 않고, 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
	direction: rtl; /* 마우스 호버로 오른쪽선택되는걸 왼쪽으로 이모지 순서 반전 (형제 선택자는 현재 요소 뒤에오는 요소만 선택할 수 있음)*/
   	/*rtl : right-to-left*/
    border: 0; /* 필드셋 테두리 제거 */
}
.WritingPage_Form input[type=radio] {
	display: none; /* 라디오박스 감춤 */
}
.WritingPage_Form label {
	font-size: 3em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}
.WritingPage_Form label:hover { /*:hover 마우스 올린 태그나 속성 선택*/
	text-shadow: 0 0 0 #a00; /* 마우스 호버 */
}
.WritingPage_Form label:hover ~ label { /* ~ (형제선택자)를 사용해서 현재 마우스 호버된 이모지 뒤에 오는 모든 이모지 색상도 변경*/
	text-shadow: 0 0 0 #a00; /* 마우스 호버 뒤(오른쪽)에오는 이모지들 */
}
.WritingPage_Form input[type=radio]:checked ~ label {
	text-shadow: 0 0 0 #a00; /* 별점을 선택한 상태가 유지됨 */
}

/*.RestaurantReviewList__ReviewList {
    display: -webkit-flex;
   -webkit-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
}*/
.RestaurantReviewItem {
    position: relative;
    /*border-bottom: 1px solid #DBDBDB;*/
    display: flex;
    padding: 25px 0 25px 0;
}

.RestaurantReviewUpdateDelete{
	border-bottom: 1px solid #DBDBDB;
	padding: 0 0 22px 0;
	text-align: right;
	color: #9b9b9b;
    font-size: 0.8rem;
}
/*.RestaurantReviewItem__User {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: 70px;
    margin: 15px 35px 0 8px;
}*/
.RestaurantReviewItem__UserNickName {
    margin-bottom: 2px;
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
    word-break: break-all;
    color: #555555;
    margin: 15px 35px 0 8px;
}
.RestaurantReviewItem__ReviewContent {
    display: -webkit-flex;
    flex-direction: column;
    /*-webkit-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;*/
    width: 605px;
}
.RestaurantReviewItem__ReviewTextWrap {
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
}
.RestaurantReviewItem__ReviewText {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    font-size: 15px;
    line-height: 1.666;
    word-break: break-all;
    color: #000000;
}
.RestaurantReviewItem__ReviewDate {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    font-size: 14px;
    line-height: 1.2;
    color: #9B9B9B;
}
.RestaurantReviewItem__Rating {
    /*display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-align-items: center;
    -webkit-box-align: center;*/
    margin-left: auto;
}
.RestaurantReviewItem__Rating--Recommend:before {
    width: 44px;
    height: 44px;
}

.RestaurantReviewItem__RatingText {
    font-size: 15px;
    color: #ff792a;
}

.RestaurantReviewList__MoreReviewButton {
    display: -webkit-flex;
    /*-webkit-justify-content: space-between;
    -webkit-box-pack: justify;*/
    align-items: center;
    /*-webkit-align-items: center;
   -webkit-box-align: center;*/
    align-self: center;
	/*-webkit-align-self: center;
    min-width: 130px;*/
    height: 72px;
    margin: 0 auto;
    font-size: 19px;
    color: #ff792a;
    cursor: pointer;
}

/* 사이드 영역*/
.contents.side-wrap {
    position: relative;
    float: right;
    width: 400px;
    background-color: #f6f6f6;
}
.contents .column-side {
    height: 100%;
    width: 400px;
    padding-bottom: 50px;
    overflow: hidden;
}
.contents .column-side>.inner {
    box-sizing: border-box;
    padding: 0 24px;
    width: 400px;
    margin: 0 auto;
}
.contents .like-rastaurant {
    padding-top: 30px;
}
.contents .module {
    position: relative;
    padding: 33px 0 33px 0;
}
.contents .module .title {
    font-size: 1.438rem;
    line-height: 1.2em;
    color: #ff792a;
    text-align: left;
}
.list-restaurants.type-single {
    margin-top: 17px;
}
.list-restaurants.type-single>li {
    float: none;
    padding: 15px 0 15px 0;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}
.LikeByRestaurant__PictureAndContent {
    display: flex;
}
.LikeByRestaurant__Picture {
	float: left;
}
.LikeByRestaurant__Picture img{
    width: 103px;
    height: 103px;
    margin-bottom: 0;
}

.LikeByRestaurant__Content {
    /*-webkit-box-flex: 1;
    -webkit-flex: 1;*/
    margin-left: 8px;
    float: left;
}
.LikeByRestaurant__Name {
    font-size: 18px;
    line-height: 1.27;
}
.LikeByRestaurant__Rating {
    margin-left: 5px;
    font-size: 19px;
    line-height: 1;
    color: #ff792a;
}

.tag-item {
    margin: 15px 3px 0 3px;
    padding: 0 20px;
    font-size: 0.938rem;
    line-height: 38px;
    letter-spacing: 0em;
    display: inline-block;
    color: #6a6a6a;
    border: 1px solid #cbcbcb;
    border-radius: 50px;
    background-color: #fff;
}
.RestaurantReviewList__Empty {
	height: 100px;
    text-align: center;
    padding-top: 40px;
    border-top: 1px solid #e9e9e9;
}
.RestaurantReviewList__Empty .RestaurantReviewList__EmptyTitle {
	font-size: 18px;
    line-height: 1.27;
    color: #6a6a6a;
}
.RestaurantReviewList__Empty img {
	width: 40px;
	height: 40px;	
}